In [1]:
n=int(input("enter num "))
for i in range(n):
    print(i)
###o(n)------time it will taken

enter num 5
0
1
2
3
4

In [2]:
n=int(input("enter num "))
for i in range(n):
    for j in range(n):
        print(i, j)

###o(n**2)------time

enter num 7
0 0
0 1
0 2
0 3
0 4
0 5
0 6
1 0
1 1
1 2
1 3
1 4
1 5
1 6
2 0
2 1
2 2
2 3
2 4
2 5
2 6
3 0
3 1
3 2
3 3
3 4
3 5
3 6
4 0
4 1
4 2
4 3
4 4
4 5
4 6
5 0
5 1
5 2
5 3
5 4
5 5
5 6
6 0
6 1
6 2
6 3
6 4
6 5
6 6

In [4]:
n=int(input("enter any num "))
for i in range(n):
    for j in range(i):
        print(i,j)
##o(n**2)

enter any num 5
1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

In [3]:
n=int(input("enter num "))
i = 1
while i<n:
    print(i)
    i *= 2
    
###o(log n)----time

enter num 3
1
2

In [4]:
n=int(input("enter num "))
for i in range(n):
    for j in range(10):
         print(i, j)
###  o(n)   because inner loop will o(1) and outer loop run n time so thats why

enter num 5
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9

In [6]:
for i in range(n):
    for j in range(n):
        for k in range(n):
             print(i, j, k)
## o(n**3)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4

In [7]:
for i in range(n):
    print(i)
for j in range(n):
    print(j)
### o(n)

0
1
2
3
4
0
1
2
3
4

In [2]:
n=int(input("enter any num "))
for i in range(n):
    for j in range(i, n):
        print(i, j)
        
## o(n**2)

enter any num 4
0 0
0 1
0 2
0 3
1 1
1 2
1 3
2 2
2 3
3 3

In [3]:
for i in range(n):
    for j in range(n*n):
        print(i, j)
        
## o(n**3)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15

In [10]:
i = n
while i>0:
    print(i)
    i=i//2
## o(logn)

4
2
1

In [12]:
for i in range(n):
     for j in range(i*i):
            print(i, j)
## o(n**3)

1 0
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8

In [13]:
for i in range(n):
    for j in range(i):
        for k in range(j):
            print(i, j, k)
            
#### o(n**3)

2 1 0
3 1 0
3 2 0
3 2 1

In [14]:
for i in range(1, n, 2):
    print(i)
    
## o(n)

1
3

In [15]:
for i in range(n):
     for j in range(i+1, n, 2):
            print(i, j)
            
### o(n**2)

0 1
0 3
1 2
2 3

In [16]:
for i in range(n):
    for j in range(n):
        if j % 2 == 0:
            print(i, j)
            
## o(n**2)

0 0
0 2
1 0
1 2
2 0
2 2
3 0
3 2

In [17]:
for i in range(n):
    k = 1
    while k < n:
        print(i, k)
        k *= 2
        
## 0(nlogn)

0 1
0 2
1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
i = 0
while i<n:
    for j in range(i):
        print(i, j)
        i += 1
        
##o(n**2)

In [ ]:
for i in range(n):
    for j in range(n):
        for k in range(5):
            print(i, j, k)
            
## o(n**2)

In [ ]:
for i in range(n):
    for j in range(i*i):
        for k in range(j):
            print(i, j, k)
            
### o(n**5)

In [ ]:
i = 1
while i<n:
    j = 1
    while j<i:
        print(i, j)
        j *= 2
    i += 1
        
##O(nlogn)

In [ ]:
for i in range(n):
    if i == n // 2:
        break
    for j in range(i):
        print(i, j)
## O(n**2)

In [ ]:
for i in range(n):
    for j in range(n):
        if i * j > n:
            break
        print(i, j)
## O(n**2)

In [ ]:
for i in range(n):
    print("Inner loop:")
    for j in range(n):
        if j == 1:
            break
###  O(n)

In [ ]:
for i in range(n):
    for j in range(n):
        for k in range(n):
            for l in range(n):
                for m in range(n):
                    print(i, j, k, l, m)
### O(n**5)

In [ ]:
for i in range(1, n + 1):        # Outer loop runs n times
    for j in range(1, i + 1):    # Inner loop runs i times
        print('*', end='')       # Prints i asterisks on the ith line
    print()                      # Moves to the next line

## O(n**2)

In [ ]:
for i in range(1, n + 1):
    for j in range(1, i + 1):
        if i % j == 0:
            print(j)
###  O(n**2)

In [ ]:
for i in range(n):
    for j in range(i * i):
        for k in range(j):
            print(k)
### O(n**5)

In [ ]:
for i in range(n):
    for j in range(i):
        for k in range(j):
            for l in range(k):
                 print(i, j, k, l)
                    
                    
#### O(n**4)

In [2]:
n=int(input("enter any num "))
for i in range(1, n):
    for j in range(1, i * i):
        if j % i == 0:
            print(i, j)
### o(n**2)

enter any num 3
2 2

In [5]:
for i in range(n):
    if i == n // 2:
        break
    for j in range(i):
        print(i, j)
        
##O(n**2)

1 0

In [6]:
for i in range(n):
    for j in range(i * i):
        for k in range(j):
            print(k)
            
## O(n**5)

0
0
1
0
1
2
0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
12
13
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [7]:
for i in range(n):
    j = n
    while j > 0:
        print(i, j)
        j //= 2
## O(nlogn)

0 5
0 2
0 1
1 5
1 2
1 1
2 5
2 2
2 1
3 5
3 2
3 1
4 5
4 2
4 1

In [ ]:
i = 0
while i < n:
    for j in range(i):
        print(i, j)
    i *= 2
    
## O(n)

In [ ]:
for i in range(1, n):
    for j in range(1, i * i):
        if j % i == 0:
            print(i, j)
            
### O(n**3)

In [ ]:
for i in range(n):
    for j in range(i + 1):
        for k in range(j + 1):
            print(i, j, k)
### O(n**3)

In [ ]:
for i in range(n):
    for j in range(i, 0, -1):
        print(i, j)
## O(n**2)

In [ ]:
for i in range(n):
    for j in range(n):
        for k in range(n):
            for l in range(n):
                print(i, j, k, l)
                
## O(n**4)